<a href="https://colab.research.google.com/github/Sanket-111/ETG_inventory_management/blob/main/Inventory_Management_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Welcome to Inventory Management System***

***************************

**Name :Sanket Shivaji Jadhav.**
##Thanks to ETG for oppourtunity of an internship and this wonderfull Project.

******************

****************

## 1)  Entering the data inside a json file for Processing

****

In [1]:
data={
    1201:{"Name":"Chocolate"   , "Price":200     , "Expiry":"3 months"     ,"color":"NA "      ,"Discount":0    , "Quantity":10},
    1202:{"Name":"Cake "      , "Price":50      , "Expiry":"3 months"      ,"color":"NA "      ,"Discount":0    , "Quantity":20},
    1203:{"Name":"Bicycle "   , "Price":5000    , "Expiry":"12 months"     ,"color":"Blue"     ,"Discount":0    , "Quantity":20},
    1204:{"Name":"T-shirt "   , "Price":499     , "Expiry":"12 months"     ,"color":"NA "      ,"Discount":0    , "Quantity":47},
    1205:{"Name":"Jeans "     , "Price":800     , "Expiry":"12 months"     ,"color":"NA "      ,"Discount":0    , "Quantity":32},
    1206:{"Name":"Shirt "     , "Price":499     , "Expiry":"3months"       ,"color":"Red"      ,"Discount":0    , "Quantity":47},
    1207:{"Name":"WaterBottel", "Price":20      , "Expiry":"12months"      ,"color":"Orange "  ,"Discount":0    , "Quantity":23},
    1208:{"Name":"Mobile "    , "Price":10000   , "Expiry":"3months"       ,"color":"NA "      ,"Discount":150  , "Quantity":12},
    1209:{"Name":"Dress "      , "Price":1900    , "Expiry":"3months"      ,"color":"NA "      ,"Discount":100  , "Quantity":22},
    1210:{"Name":"Laptop  "    , "Price":35000   , "Expiry":"3months"      ,"color":"Red"      ,"Discount":1000  , "Quantity":47},
    1211:{"Name":"Ipad "       , "Price":20000   , "Expiry":"3months"      ,"color":"Orange"   ,"Discount":300    , "Quantity":44},
    1212:{"Name":"Iphone "    , "Price":80000   , "Expiry":"3months"       ,"color":"Green "   ,"Discount":200    , "Quantity":78},
    1213:{"Name":"Watches "   , "Price":1000    , "Expiry":"6 months"      ,"color":"NA "      ,"Discount":200    , "Quantity":47},
    1214:{"Name":"Googels"    , "Price":200     , "Expiry": "6 months"     ,"color":"Orange "  ,"Discount":0      , "Quantity":67},
    1215:{"Name":"Perfumes "   , "Price":250    , "Expiry":"6 months"     ,"color":"NA "      ,"Discount":0    , "Quantity":47},
    1216:{"Name":"Umbrella "  , "Price":430     , "Expiry":"6 months"      ,"color":"NA "      ,"Discount":0    , "Quantity":65},
    1217:{"Name":"Raincot"    , "Price":230     , "Expiry":"6 months"      ,"color":"NA "      ,"Discount":0    , "Quantity":47},
    1218:{"Name":"Bag "        , "Price":500     , "Expiry":"6 months"      ,"color":" NA"      ,"Discount":0   , "Quantity":76},
    1219:{"Name":"Purse "      , "Price":300     , "Expiry":"6 months"      ,"color":" NA"      ,"Discount":0   , "Quantity":47},
    1220:{"Name":"Comb "       , "Price":30      , "Expiry":"9 months"      ,"color":"Orange "  ,"Discount":0   , "Quantity":66},
    1221:{"Name":"Pen"         , "Price":25      , "Expiry":"9 months"      ,"color":"Yellow"   ,"Discount":0   , "Quantity":47},
    1222:{"Name":"Pencil"      , "Price":15      , "Expiry":"9 months"      ,"color":"NA"       ,"Discount":0   , "Quantity":45},
    1223:{"Name":"Scale"       , "Price":15     , "Expiry":"9 months"      ,"color":"NA"       ,"Discount":1   , "Quantity":33},
    1224:{"Name":"Calculator"  , "Price":250    , "Expiry":"9 months"      ,"color":" red"     ,"Discount":0   , "Quantity":33},
    1225:{"Name":"Mixer "      , "Price":2500   , "Expiry":"9 months"      ,"color":" red"     ,"Discount":100 , "Quantity":222},
    1226:{"Name":"Mask "       , "Price":30      , "Expiry":"9 months"      ,"color":"NA "      ,"Discount":0   , "Quantity":33},
    1227:{"Name":"Keyboard"    , "Price":200     , "Expiry": "9 months"     ,"color":"Red "     ,"Discount":0   , "Quantity":2},
    1228:{"Name":"Bucket"     , "Price":400     , "Expiry":"12 months"     ,"color":"Blue "    ,"Discount":0    , "Quantity":22},
    1229:{"Name":"Notebook"    , "Price":50      , "Expiry": "12 months"    ,"color":"NA "      ,"Discount":0   , "Quantity":33},
    1230:{"Name":"Sanitizer"   , "Price":120     , "Expiry": "12 months"    ,"color":"NA "      ,"Discount":0   , "Quantity":22},
 
}
sale={}

In [2]:
import json
js=json.dumps(data)

In [3]:
fd=open("record.json",'w')
fd.write(js)
fd.close()
print("Data Entered Succesfully")

Data Entered Succesfully

In [4]:
fd=open("record.json",'r')
txt=fd.read()
fd.close()

In [5]:
record=json.loads(txt)
record

{'1201': {'Discount': 0,
  'Expiry': '3 months',
  'Name': 'Chocolate',
  'Price': 200,
  'Quantity': 10,
  'color': 'NA '},
 '1202': {'Discount': 0,
  'Expiry': '3 months',
  'Name': 'Cake ',
  'Price': 50,
  'Quantity': 20,
  'color': 'NA '},
 '1203': {'Discount': 0,
  'Expiry': '12 months',
  'Name': 'Bicycle ',
  'Price': 5000,
  'Quantity': 20,
  'color': 'Blue'},
 '1204': {'Discount': 0,
  'Expiry': '12 months',
  'Name': 'T-shirt ',
  'Price': 499,
  'Quantity': 47,
  'color': 'NA '},
 '1205': {'Discount': 0,
  'Expiry': '12 months',
  'Name': 'Jeans ',
  'Price': 800,
  'Quantity': 32,
  'color': 'NA '},
 '1206': {'Discount': 0,
  'Expiry': '3months',
  'Name': 'Shirt ',
  'Price': 499,
  'Quantity': 47,
  'color': 'Red'},
 '1207': {'Discount': 0,
  'Expiry': '12months',
  'Name': 'WaterBottel',
  'Price': 20,
  'Quantity': 23,
  'color': 'Orange '},
 '1208': {'Discount': 150,
  'Expiry': '3months',
  'Name': 'Mobile ',
  'Price': 10000,
  'Quantity': 12,
  'color': 'NA '},
 '1209': {'Discount': 100,
  'Expiry': '3months',
  'Name': 'Dress ',
  'Price': 1900,
  'Quantity': 22,
  'color': 'NA '},
 '1210': {'Discount': 1000,
  'Expiry': '3months',
  'Name': 'Laptop  ',
  'Price': 35000,
  'Quantity': 47,
  'color': 'Red'},
 '1211': {'Discount': 300,
  'Expiry': '3months',
  'Name': 'Ipad ',
  'Price': 20000,
  'Quantity': 44,
  'color': 'Orange'},
 '1212': {'Discount': 200,
  'Expiry': '3months',
  'Name': 'Iphone ',
  'Price': 80000,
  'Quantity': 78,
  'color': 'Green '},
 '1213': {'Discount': 200,
  'Expiry': '6 months',
  'Name': 'Watches ',
  'Price': 1000,
  'Quantity': 47,
  'color': 'NA '},
 '1214': {'Discount': 0,
  'Expiry': '6 months',
  'Name': 'Googels',
  'Price': 200,
  'Quantity': 67,
  'color': 'Orange '},
 '1215': {'Discount': 0,
  'Expiry': '6 months',
  'Name': 'Perfumes ',
  'Price': 250,
  'Quantity': 47,
  'color': 'NA '},
 '1216': {'Discount': 0,
  'Expiry': '6 months',
  'Name': 'Umbrella ',
  'Price': 430,
  'Quantity': 65,
  'color': 'NA '},
 '1217': {'Discount': 0,
  'Expiry': '6 months',
  'Name': 'Raincot',
  'Price': 230,
  'Quantity': 47,
  'color': 'NA '},
 '1218': {'Discount': 0,
  'Expiry': '6 months',
  'Name': 'Bag ',
  'Price': 500,
  'Quantity': 76,
  'color': ' NA'},
 '1219': {'Discount': 0,
  'Expiry': '6 months',
  'Name': 'Purse ',
  'Price': 300,
  'Quantity': 47,
  'color': ' NA'},
 '1220': {'Discount': 0,
  'Expiry': '9 months',
  'Name': 'Comb ',
  'Price': 30,
  'Quantity': 66,
  'color': 'Orange '},
 '1221': {'Discount': 0,
  'Expiry': '9 months',
  'Name': 'Pen',
  'Price': 25,
  'Quantity': 47,
  'color': 'Yellow'},
 '1222': {'Discount': 0,
  'Expiry': '9 months',
  'Name': 'Pencil',
  'Price': 15,
  'Quantity': 45,
  'color': 'NA'},
 '1223': {'Discount': 1,
  'Expiry': '9 months',
  'Name': 'Scale',
  'Price': 15,
  'Quantity': 33,
  'color': 'NA'},
 '1224': {'Discount': 0,
  'Expiry': '9 months',
  'Name': 'Calculator',
  'Price': 250,
  'Quantity': 33,
  'color': ' red'},
 '1225': {'Discount': 100,
  'Expiry': '9 months',
  'Name': 'Mixer ',
  'Price': 2500,
  'Quantity': 222,
  'color': ' red'},
 '1226': {'Discount': 0,
  'Expiry': '9 months',
  'Name': 'Mask ',
  'Price': 30,
  'Quantity': 33,
  'color': 'NA '},
 '1227': {'Discount': 0,
  'Expiry': '9 months',
  'Name': 'Keyboard',
  'Price': 200,
  'Quantity': 2,
  'color': 'Red '},
 '1228': {'Discount': 0,
  'Expiry': '12 months',
  'Name': 'Bucket',
  'Price': 400,
  'Quantity': 22,
  'color': 'Blue '},
 '1229': {'Discount': 0,
  'Expiry': '12 months',
  'Name': 'Notebook',
  'Price': 50,
  'Quantity': 33,
  'color': 'NA '},
 '1230': {'Discount': 0,
  'Expiry': '12 months',
  'Name': 'Sanitizer',
  'Price': 120,
  'Quantity': 22,
  'color': 'NA '}}

*****

## 2) For Entering New Data to an Existing data

** ************************************* **

In [6]:
print("Enter the Product Details\n")
id=str(input("Enter the ID of an item : "))
name=str(input("Enter the name the Product: "))
price=int(input("Enter the price of an item: "))
expiry=str(input("Enter the expiry date in months: "))
color=str(input("Enter the color of Item: "))
Quntity=int(input("Enter the number of items: "))
dis=int(input("Enter the discount for the Item: "))

record[id]={'Name':name, 'Price':price,"Expiry":expiry,"color":color,"Discount":dis,"Quantity":Quntity}

Enter the Product Details

Enter the ID of an item : 1231
Enter the name the Product: Headset
Enter the price of an item: 1200
Enter the expiry date in months: 2 Years
Enter the color of Item: White
Enter the number of items: 100
Enter the discount for the Item: 20

In [7]:
js=json.dumps(record)
fd=open("record.json","w")
fd.write(js)
fd.close()
print("Data Entered Successfully")

Data Entered Successfully

In [8]:
record

{'1201': {'Discount': 0,
  'Expiry': '3 months',
  'Name': 'Chocolate',
  'Price': 200,
  'Quantity': 10,
  'color': 'NA '},
 '1202': {'Discount': 0,
  'Expiry': '3 months',
  'Name': 'Cake ',
  'Price': 50,
  'Quantity': 20,
  'color': 'NA '},
 '1203': {'Discount': 0,
  'Expiry': '12 months',
  'Name': 'Bicycle ',
  'Price': 5000,
  'Quantity': 20,
  'color': 'Blue'},
 '1204': {'Discount': 0,
  'Expiry': '12 months',
  'Name': 'T-shirt ',
  'Price': 499,
  'Quantity': 47,
  'color': 'NA '},
 '1205': {'Discount': 0,
  'Expiry': '12 months',
  'Name': 'Jeans ',
  'Price': 800,
  'Quantity': 32,
  'color': 'NA '},
 '1206': {'Discount': 0,
  'Expiry': '3months',
  'Name': 'Shirt ',
  'Price': 499,
  'Quantity': 47,
  'color': 'Red'},
 '1207': {'Discount': 0,
  'Expiry': '12months',
  'Name': 'WaterBottel',
  'Price': 20,
  'Quantity': 23,
  'color': 'Orange '},
 '1208': {'Discount': 150,
  'Expiry': '3months',
  'Name': 'Mobile ',
  'Price': 10000,
  'Quantity': 12,
  'color': 'NA '},
 '1209': {'Discount': 100,
  'Expiry': '3months',
  'Name': 'Dress ',
  'Price': 1900,
  'Quantity': 22,
  'color': 'NA '},
 '1210': {'Discount': 1000,
  'Expiry': '3months',
  'Name': 'Laptop  ',
  'Price': 35000,
  'Quantity': 47,
  'color': 'Red'},
 '1211': {'Discount': 300,
  'Expiry': '3months',
  'Name': 'Ipad ',
  'Price': 20000,
  'Quantity': 44,
  'color': 'Orange'},
 '1212': {'Discount': 200,
  'Expiry': '3months',
  'Name': 'Iphone ',
  'Price': 80000,
  'Quantity': 78,
  'color': 'Green '},
 '1213': {'Discount': 200,
  'Expiry': '6 months',
  'Name': 'Watches ',
  'Price': 1000,
  'Quantity': 47,
  'color': 'NA '},
 '1214': {'Discount': 0,
  'Expiry': '6 months',
  'Name': 'Googels',
  'Price': 200,
  'Quantity': 67,
  'color': 'Orange '},
 '1215': {'Discount': 0,
  'Expiry': '6 months',
  'Name': 'Perfumes ',
  'Price': 250,
  'Quantity': 47,
  'color': 'NA '},
 '1216': {'Discount': 0,
  'Expiry': '6 months',
  'Name': 'Umbrella ',
  'Price': 430,
  'Quantity': 65,
  'color': 'NA '},
 '1217': {'Discount': 0,
  'Expiry': '6 months',
  'Name': 'Raincot',
  'Price': 230,
  'Quantity': 47,
  'color': 'NA '},
 '1218': {'Discount': 0,
  'Expiry': '6 months',
  'Name': 'Bag ',
  'Price': 500,
  'Quantity': 76,
  'color': ' NA'},
 '1219': {'Discount': 0,
  'Expiry': '6 months',
  'Name': 'Purse ',
  'Price': 300,
  'Quantity': 47,
  'color': ' NA'},
 '1220': {'Discount': 0,
  'Expiry': '9 months',
  'Name': 'Comb ',
  'Price': 30,
  'Quantity': 66,
  'color': 'Orange '},
 '1221': {'Discount': 0,
  'Expiry': '9 months',
  'Name': 'Pen',
  'Price': 25,
  'Quantity': 47,
  'color': 'Yellow'},
 '1222': {'Discount': 0,
  'Expiry': '9 months',
  'Name': 'Pencil',
  'Price': 15,
  'Quantity': 45,
  'color': 'NA'},
 '1223': {'Discount': 1,
  'Expiry': '9 months',
  'Name': 'Scale',
  'Price': 15,
  'Quantity': 33,
  'color': 'NA'},
 '1224': {'Discount': 0,
  'Expiry': '9 months',
  'Name': 'Calculator',
  'Price': 250,
  'Quantity': 33,
  'color': ' red'},
 '1225': {'Discount': 100,
  'Expiry': '9 months',
  'Name': 'Mixer ',
  'Price': 2500,
  'Quantity': 222,
  'color': ' red'},
 '1226': {'Discount': 0,
  'Expiry': '9 months',
  'Name': 'Mask ',
  'Price': 30,
  'Quantity': 33,
  'color': 'NA '},
 '1227': {'Discount': 0,
  'Expiry': '9 months',
  'Name': 'Keyboard',
  'Price': 200,
  'Quantity': 2,
  'color': 'Red '},
 '1228': {'Discount': 0,
  'Expiry': '12 months',
  'Name': 'Bucket',
  'Price': 400,
  'Quantity': 22,
  'color': 'Blue '},
 '1229': {'Discount': 0,
  'Expiry': '12 months',
  'Name': 'Notebook',
  'Price': 50,
  'Quantity': 33,
  'color': 'NA '},
 '1230': {'Discount': 0,
  'Expiry': '12 months',
  'Name': 'Sanitizer',
  'Price': 120,
  'Quantity': 22,
  'color': 'NA '},
 '1231': {'Discount': 20,
  'Expiry': '2 Years',
  'Name': 'Headset',
  'Price': 1200,
  'Quantity': 100,
  'color': 'White'}}

***

## 3) To purchase a Item from an Inventory and Updating the data inside JSON file

****

In [9]:
fd=open("record.json",'r')
txt=fd.read()
fd.close()
data=json.loads(txt)

In [10]:
print("The Available Items in a store are :-\n")

for key in sorted(data):
  print(key,"---->",data[key]["Name"])

The Available Items in a store are :-

1201 ----> Chocolate
1202 ----> Cake
1203 ----> Bicycle
1204 ----> T-shirt
1205 ----> Jeans
1206 ----> Shirt
1207 ----> WaterBottel
1208 ----> Mobile
1209 ----> Dress
1210 ----> Laptop
1211 ----> Ipad
1212 ----> Iphone
1213 ----> Watches
1214 ----> Googels
1215 ----> Perfumes
1216 ----> Umbrella
1217 ----> Raincot
1218 ----> Bag
1219 ----> Purse
1220 ----> Comb
1221 ----> Pen
1222 ----> Pencil
1223 ----> Scale
1224 ----> Calculator
1225 ----> Mixer
1226 ----> Mask
1227 ----> Keyboard
1228 ----> Bucket
1229 ----> Notebook
1230 ----> Sanitizer
1231 ----> Headset

In [38]:
n=str(input("Enter the id of an Product From above Data: "))

print("The Price of the item",data[n]["Name"] ,"is :" ,data[n]["Price"])

p=int(input("Enter the Quantity of Product : "))

if(p>data[n]["Quantity"]):
  print("Insufficient Stock...!!!,   Available quntities are :",data[n]["Quantity"])
  p=0;
  p=int(input("Reenter the Qunatity of Product : "))

Enter the id of an Product From above Data: 1209
The Price of the item Dress  is : 1900
Enter the Quantity of Product : 2

****

##4) The below code updates the Previous value of Quantity of product after purshasing that product.

***

In [39]:
data[n]["Quantity"]=data[n]["Quantity"]-p

In [40]:
js=json.dumps(data)

fd=open("record.json","w")
fd.write(js)
fd.close()

In [41]:
fd=open("record.json","r")
txt=fd.read()
fd.close()

In [42]:
record=json.loads(txt)

***

## 5) For Output the bill after succesful purchase of an Item.

****

In [43]:
import time
gst=(data[n]["Price"]*5)/100
amount=(((data[n]["Price"]*p) +gst)-data[n]["Discount"])
 
 
print("------**********-------Bill------**********------")
print(time.ctime(),"\n\n" ) 
print("The Purchased item is : ",data[n]["Name"])
print("The quantity of item  :"  , p,'\n');
 
print("-------------------------------------------------\n")
 
print("The Price Of Item Purshased is",amount,'\n')
print("---------------- THANK YOU ---------------------\n")

------**********-------Bill------**********------
Fri Sep  3 12:06:33 2021


The Purchased item is :  Dress
The quantity of item  : 2

-------------------------------------------------

The Price Of Item Purshased is 3795.0

---------------- THANK YOU ---------------------

*****

## 6) Creating sales.json file for storing all data

******

In [44]:
sale[n]={"Name":data[n]["Name"],"Price":data[n]["Price"],"Quantity":p,"Amount_Paid":amount}

In [45]:
import json

jd=json.dumps(sale)
file=open("sales.json","w")
file.write(jd)
file.close()

******

## 7) Displaying Sales.json file Content and all the sales made uptil now

*****

In [46]:
file=open("sales.json","r")
r=file.read()
file.close()
see=json.loads(r)
see

{'1209': {'Amount_Paid': 3795.0,
  'Name': 'Dress ',
  'Price': 1900,
  'Quantity': 2},
 '1211': {'Amount_Paid': 440700.0,
  'Name': 'Ipad ',
  'Price': 20000,
  'Quantity': 22},
 '1222': {'Amount_Paid': 180.75,
  'Name': 'Pencil',
  'Price': 15,
  'Quantity': 12},
 '1231': {'Amount_Paid': 1240.0,
  'Name': 'Headset',
  'Price': 1200,
  'Quantity': 1}}